{
  "*.{js,jsx,ts,tsx}": ["prettier --write"],
  "*.{json,md,yml,scss}": ["prettier --write"],

  "apps/playground/**/*.{js,jsx,ts,tsx}": ["pnpm playground lint --fix"],
  "packages/bitcoin-kit-widget/**/*.{js,jsx,ts,tsx}": [
    "pnpm widget lint --fix"
  ],
  "packages/client/**/*.{js,jsx,ts,tsx}": ["pnpm client lint --fix"],
  "packages/bitcoin-wallet-adapter/**/*.{js,jsx,ts,tsx}": [
    "pnpm bitcoin lint --fix"
  ]
}
